body { /* Code pour le background */ 
    background-image: url('../images/images.jpg');
}

img:hover { /* Quand la souris est sur le boutton */ 
    cursor: pointer; /* Le curseur devient une main */ 
}

img {
    width: 180px;
    height: 200px;
}