/* Background */ 

.question {
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-position: bottom;
    background-image: url(../images/index.jpg);
    position: absolute; 
    top: 0; 
    left: 0; 
}

/* Bouton */

.question button {
    width: 100%; 
    height: 500px; 
    opacity: 0; 
}

.question button:hover { /* Quand la souris est sur le boutton */ 
    cursor: pointer; /* Le curseur devient une main */ 
}