body {
    margin: 0;
    background-size: cover;
    overflow: hidden; /* Pour enlever la barre de scroll */
    width: 100%; 
    height: 100%;
    background-position: bottom; /* Permet de voir le haut de l'image */ 
    position: absolute;
    top: 0; 
    left: 0; 
}

/* Définit l'overlay pour les boîtes de dialogue des énigmes */
.texte {
    text-align: center; 
    position: relative; 
    background-color: rgba(255, 255, 255, 0.7); 
    margin: 190px; 
    margin-top: 10px; 
    margin-bottom: 0px; 
    width: auto; 
    height: auto; 
    padding: 2px; 
}

img {
    position: relative;
    width: auto;
    height: 200px; 
    margin-top: 0px; 
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

h1, h2, h3, a, p {
    color: #5F4444; 
    font-family: Apple Chancery; 
    font-variant: small-caps; 
    font-weight: lighter ;
}

h1 { 
    font-size: 30px;
} 

p { 
    font-size: 20px;
}

/* Bouton de l'accueil */ 
.question button { 
    width: 100%; 
    height: 700px; 
    opacity: 0; 
} 

/* Quand la souris est sur le bouton */
.question button:hover {  
    cursor: pointer; /*Le curseur devient une main*/
}

input {
    border-radius: 50px;
}