/* Bouton */

.question button {
    width: 100%; 
    height: 500px; 
    opacity: 0; 
} 

.question button:hover { /* Quand la souris est sur le boutton */ 
    cursor: pointer; /* Le curseur devient une main */ 
}